body {
    font-family: 'Sans', Courier, monospace;
    color: #fce8b5;
}
.experience {
    color: red;
}

#experiences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.textboximg img {
    width: 25rem;
    height: auto;
    z-index: 1;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}
.hobby .image img{
    height: 10rem;
    width: 10rem;
}
.video video {
    width: 20rem;
    height: auto;
}

.window-body li {
    font-family: "Pixelated MS Sans Serif", Arial;
}
  
.window-body .image img {
    width: 100%;
    height: auto;
    z-index: 3;
}

.title-bar {
    z-index: 3;
}
