body {
    font-family: 'Sans', Courier, monospace;
    color: #fce8b5;
}
.experience {
    color: red;
}


#experiences {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}